div {
    background-color: beige;
}

header {
    background-color: goldenrod;
}

section {
    background-color: chocolate;
}

main {
    background-color: thistle;
}

footer {
    background-color: yellowgreen;
}